<ion-content class="auth-content">
  <div class="auth-card">
  <img [src]="logoPath" alt="Verification Logo" class="auth-illustration" />
    <h2>OTP Verification</h2>
    <p class="subtitle">Enter phone number to send one time Password</p>
    <form [formGroup]="authForm">
    <ion-label position="floating">Phone Number</ion-label>
    <ion-item class="input-item">
      <ion-input type="tel" formControlName="mobile" maxlength="14" placeholder="+91 9876543210" (ionInput)="onMobileInput($event)"></ion-input>
    </ion-item>
    <ion-button expand="block" class="continue-btn" (click)="sendOtp()" [disabled]="!authForm.controls['mobile'].valid || otpSent">Continue</ion-button>

      <div *ngIf="otpSent" class="otp-section">
        <h3>Verification Code</h3>
        <p class="subtitle">We have sent the verification code to your email address</p>
        <div class="otp-inputs">
          <ion-input type="text" maxlength="1" [(ngModel)]="otpValue[0]" class="otp-box"></ion-input>
          <ion-input type="text" maxlength="1" [(ngModel)]="otpValue[1]" class="otp-box"></ion-input>
          <ion-input type="text" maxlength="1" [(ngModel)]="otpValue[2]" class="otp-box"></ion-input>
          <ion-input type="text" maxlength="1" [(ngModel)]="otpValue[3]" class="otp-box"></ion-input>
        </div>
        <ion-button expand="block" class="confirm-btn" (click)="verifyOtp()">Confirm</ion-button>
      </div>
    </form>
  </div>
</ion-content>
